* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(to right, darkred, darkcyan);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

.stopwatch {
    color: seashell;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.stopwatch__time {
    font-size: clamp(2rem, 10vw + 1rem, 10rem);
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);

}

.stopwatch__btn {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
}

.stopwatch__btn i {
    padding: 1em 1.5em;
    font-size: clamp(1rem, 1vw + 0.5rem, 5rem);
}

.stopwatch__btn:hover {
    background-image: linear-gradient(darkcyan, darkred);
}


.stopwatch__btn:nth-of-type(1) {
    background-color: darkcyan;
}

.stopwatch__btn--start {
    background-image: linear-gradient(darkcyan, darkred);
}

.stopwatch__btn:nth-of-type(2) {
    background-color: darkred;
}

.stopwatch__btn--stop {
    background-image: linear-gradient(darkcyan, darkred);
}

.stopwatch__btn:nth-of-type(3) {
    background-color: darkred;
}

.stopwatch__btn i {
    color: seashell;
}

.stopwatch__bookmark {
    position: absolute;
    left: 0;
    bottom: -1em;
    font-size: clamp(1rem, 1vw + 0.5rem, 1.5rem);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transition: opacity 500ms ease-in-out;
    max-height: 45%;
    overflow: auto;
    width: 30%;
    text-align: center;
    /* mozilla */
    scrollbar-width: none;
    /* IE and Edge */
    -ms-overflow-style: none;
}

.stopwatch__bookmark::-webkit-scrollbar {
    display: none;
}

.stopwatch__bookmark div:first-child time {
    color: darkcyan;
    font-size: 1.5em;
}

@media screen and (max-width: 900px) {
    .stopwatch__bookmark {
        position: absolute;
        width: 100%;
        bottom: 0;
        transform: translateY(calc(100% + 1em));
        max-height: 50%;
    }

}